.pointer:hover {
    cursor: pointer;
    color: #919191;

}
.navbar-brand{
  font-size: xx-large;
  font-family: fantasy;
}

.navbar-expand-lg{
  box-shadow: 5px 5px 20px black;

}
.fa-bus{
  color:orange
}
.navbar-toggler-icon{
  color:black;
  background-color: grey;

}
