.pointer:hover {
  cursor: pointer;
  color: #919191;

  }
thead{
  background-color: orange;
  color: white;
  font-size: medium;
  }
h3 {
  text-align: center;
  font-size: xx-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
     }

table {
  box-sizing: border-box;
  margin: auto;

}

td{
  width: 1000px;
  }

.card{
margin:auto;
box-sizing: border-box;
box-shadow: 5px 5px 20px black;
margin: auto;
}
.search-table{
padding: 10%;
margin-top: -6%;

}
.search-box{
border: 1px solid #ababab;
padding: 3%;
background: #fff;
box-shadow: 5px 5px 20px black;
}
.search-box input:focus{
box-shadow:none;
border:2px solid #eeeeee;
}
.search-list{
background: #fff;
border: 1px solid #ababab;
border-top: none;
box-shadow: 5px 5px 20px black;
max-width: 100%;
overflow: scroll
}
.search-list h3{
background: #eee;
padding: 3%;
margin-bottom: 0%;
}

.tamanho{
max-width: 20px;
}
