<div class="container search-table">
  <div class="search-box">
      <div class="row">
          <div class="col-md-3">
              <h5>Pesquisar Linhas</h5>
          </div>
          <div class="col-md-9">
              <input type="text" name="search" [(ngModel)]="searchText" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Buscar...">
              </div>
      </div>
  </div>
  <br>
  <div class="search-list"  style="overflow: auto; width: 1000px; height: 800px; border:solid 1px">
      <h3>Itinerário</h3>
      <table class="table" id="myTable" style="width:auto" >
          <thead>
              <tr>
                  <th>Código</th>
                  <th>Linha</th>
              </tr>
          </thead>
          <tbody>
               <tr class="table-responsive" value="i.id" *ngFor="let i of (itinerario);" class="pointer">
              <td>{{i.lat}} </td>
              <td class="tamanho">{{i.lng}}</td>
          </tbody>
      </table>
  </div>
</div>

